body{
    font-family: 'Open Sans', sans-serif;
} 
 nav{
    display: flex;
}
nav ul{
    display: flex;
}
nav li{
    list-style: none;
    margin-right: 50px;
}
nav li a{
    text-decoration: none;
    color: #474747;
}
.nav-logo{
    color:#181818;

font-size: 45px;

font-weight: 800;

}
.text-primary{
color: #FD6E0A;

font-size: 45px;

font-weight: 800;

}
.btn-primary{
    border-radius: 5px;
    background: #FD6E0A;   
}